.botonPartida {
    background-color: green;
    color: white;
    font-size: 150%;
    margin-bottom: 0.5%;
}

td {
    border: 1px solid black;
    cursor: pointer;
}

#minaCasella {
    font-size: 150%;
}